

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 147px;
    
}

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 147px;
    backdrop-filter: blur(20px);
    background: rgba(222, 222, 222, 0.5);
    z-index: 1000;
}

.page-header__container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1414px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    height: 100%;
}

.page-header__logo {
    width: 202px;
    height: 147px;
    font-size: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.page-header__container,

.about__container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1414px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.page-header__logo-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.page-header__right-block {
    width: 200px;
    display: flex;
    align-items: center;
}

.page-header__nav {
    display: flex;
    gap: 50px;
    align-items: center;
}

.page-header__nav-link {
    color: #030303;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    transition: color 0.2s;
}

.page-header__nav-link:hover {
    color: #555;
}

.page-header__btn {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main {
    flex: 1 0 auto;
    background-color: rgba(222, 222, 222, 0.5);
}

.page-footer {
    flex: 0 0 auto;
    background-color: pink;
    height: 455px;
}

.btn {
    display: inline-flex;
    box-sizing: border-box;
    padding: 15px 40px;
    border: 1px solid #1F1F1F;
    background-color: transparent;
    outline: none;
    color: #1F1F1F;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    overflow: hidden;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background-color: #1F1F1F;
    color: white;
}

.main-header__title {
    text-transform: uppercase;
    width: 100%;
    max-width: 1000px;
    margin: 40px auto;
    text-align: center;

    Font: Lora;
    font-weight: 400;
    Font-size: 45px;
    line-height: 58px;
    Letter-spacing: 0%;
    Align: Align center;
}

.main-header__picture {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.slogan {
    text-transform: uppercase;
    width: 100%;
    max-width: 1000px;
    margin: 40px auto;
    text-align: center;

    Font: Lora;
    font-weight: 400;
    Font-size: 45px;
    line-height: 58px;
    Letter-spacing: 0%;
    Align: Align center;
}

.offers {
    text-transform: uppercase;
    width: 100%;
    max-width: 1000px;
    margin: 40px auto;
    text-align: center;
}

.offers__title {
    Font: Lora;
    font-weight: 400;
    Font-size: 22px;
    line-height: 30px;
    Letter-spacing: 2%;
    Align: Align center;
}

.btn--red {
    color: white;
    background-color: rgba(188, 51, 36, 1);
    border: 1px rgba(188, 51, 36, 1);
}

.btn--red:hover {
    background-color: rgba(165, 21, 5, 1);
    color: white;
}

.offers__btn {
    margin: 15px 30px 30px 15px;
    
} 


.event {
    padding: 40px 0 150px;
}

.reserve {
    display: grid;
    grid-template-columns: 405px 1fr;
    /* grid-template-columns: 405px calc(89% - 405px); */
    gap: 65px 11%;
    grid-template-areas: 
    "checks scheme"
    "order legend";
    width: 100%;
}

.reserve__checks {
    grid-area: checks;
    background-color: yellowgreen;
}

.reserve__scheme {
    grid-area: scheme;
    background-color: aqua;
}

.reserve__order {
    grid-area: order;
    background-color: red;
}
.reserve__legend {
    grid-area: legend;
    background-color: blueviolet;
}



.about__block2 {
    display: grid;
    grid-template-columns: 1fr 406px;
    gap: 90px 65px;
    grid-template-areas: 
    "pic pic2"
    "title pic2"
    "text text";
}

.about__picture {
    grid-area: pic;
}

.about__title {
    grid-area: title;
    font-size: 44px;
    font-weight: 700;
}

.about__picture2 {
    grid-area: pic2;
    align-self: flex-end;
}

.about__text {
    grid-area: text;
    margin: 0 80px 0 auto;
    max-width: 870px;
    width: 100%;

    font-family: desk;
    font: Open Sans;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: align left;
}

.section-title {
    width: 100%;
    max-width: 624px;
    margin: 40px auto;
    text-align: center;
    
    font-family: Lora, serif;
    font-weight: 500;
    font-size: 44px;
    line-height: 46px;
    letter-spacing: 0%;
    color: white;
    
    background-color: #030303;
    padding: 8px 0; /* Вертикальные отступы для высоты 62px */
    box-sizing: border-box;
}







.page-footer {
    padding-top: 40px;
    width: 100%;
    background-color: rgba(222, 222, 222, 1);

}


.footer-links {
    
    border-left: 3px solid red;
    margin-left: 137px;
    
}

.footer-links a {

    display: block;
    margin-bottom: 15px;
    text-decoration: none;
    color: inherit;
    padding-left: 15px;
    
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

.footer-links a:hover {
  color: rgba(165, 21, 5, 1);
}